<section class="titlehead flex items-center justify-between bg-slate-300 text-slate-900 px-3 py-1">
    <h6 class="cursor-pointer" (click)="createModule()"><mat-icon>add_box</mat-icon><strong>Create Modules</strong></h6>
</section>

<section class="p-3">
    <cdk-accordion>
        @for (item of moduleList; track item; let index = $index) {
        <cdk-accordion-item class="accordion-item" [ngClass]="accordionItem.expanded?'open':'close'" #accordionItem="cdkAccordionItem">
            <div class="accordion-header" (click)="accordionItem.toggle()">
                <span><mat-icon>{{item.moduleIcon ? item.moduleIcon : 'window'}}</mat-icon> {{item.moduleName}}</span>
                <span>{{ accordionItem.expanded ? 'close' : 'open' }}</span>
            </div>


            <div class="accordion-body" [style.display]="accordionItem.expanded ? '' : 'none'">
                <mat-button-toggle-group [(ngModel)]="moduleinTabs">
                    <mat-button-toggle value="changeModules"><small>Module/Icon Name</small></mat-button-toggle>
                    <mat-button-toggle value="moduleForm"><small>Form Name</small></mat-button-toggle>
                    <mat-button-toggle value="menulist"><small>Menu</small></mat-button-toggle>
                    <mat-button-toggle (click)="deleteModule(item)"><small>Delete</small></mat-button-toggle>
                    <mat-button-toggle (click)="saveModule(item)" color="primary"><small>Save</small></mat-button-toggle>
                  </mat-button-toggle-group>

                  <div class="my-3">
                    @if(moduleinTabs == 'changeModules'){
                    <input [(ngModel)]="item.moduleIcon" placeholder="Add Module Icon">
                    <input [(ngModel)]="item.moduleName" placeholder="Add Module Name">
                    }
          
                    @if(moduleinTabs == 'moduleForm'){
                    <input placeholder="Add Form" [(ngModel)]="item.moduleForm" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option value=""></mat-option>
                      @for (formitems of formLIst; track formitems) {
                      <mat-option [value]="formitems?.formName">
                        <small>{{formitems?.formName}}</small>
                      </mat-option>
                      }
                    </mat-autocomplete>
                    Form Name: {{item.moduleForm || 'empty'}}
                    }
          
          
          
                    @if(moduleinTabs == 'menulist'){
                    <h4> <button style="vertical-align:middle;" mat-icon-button><mat-icon>add_circle</mat-icon></button>
                      Create Menu {{moduleList.length}}
                    </h4>
                    <div class="bg-slate-600 text-white border-0 rounded-md w-full">
                      <table class="w-full">
                        <thead>
                          <tr class="bg-slate-800">
                            <td class="border border-slate-500 px-2"><small>Menu Icons</small></td>
                            <td class="border border-slate-500 px-2"><small>Menu Name</small></td>
                            <td class="border border-slate-500 px-2"><small>Form Name</small></td>
                            <td class="border border-slate-500 px-2"><small>Actions</small></td>
                          </tr>
                        </thead>
                        <tbody>
                          @for (menuData of item.menulist; track menuData; let indx = $index) {
                          <tr>
                            <td class="border border-slate-500 px-2 py-1 flex items-center">
                              <input type="text" class="bg-transparent border border-slate-400 w-16 p-1 rounded-md"
                                [(ngModel)]="menuData.menuIcon" placeholder="Add Menu Icon">
                              <mat-icon class="mx-1 text-base">{{menuData.menuIcon}}</mat-icon>
                            </td>
                            <td class="border border-slate-500 px-2 py-1">
                              <input type="text" class="bg-transparent border border-slate-400 w-20 p-1 rounded-md"
                                [(ngModel)]="menuData.menuName" placeholder="Add Menu Name">
                            </td>
                            <td class="border border-slate-500 px-2 py-1">
                              <input class="bg-transparent border border-slate-400 w-32 p-1 rounded-md" placeholder="Add Form" [(ngModel)]="menuData.menuFormName" [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option value=""></mat-option>
                                @for (formitems of formLIst; track formitems) {
                                <mat-option [value]="formitems?.formName">
                                  <small>{{formitems?.formName}}</small>
                                </mat-option>
                                }
                              </mat-autocomplete>
                            </td>
                            <td class="border border-slate-500 px-2 py-1">
                              <mat-icon style="font-size:20px;">delete</mat-icon>
                            </td>
                          </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                    }
                  </div>


            </div>
        </cdk-accordion-item>
        }
    </cdk-accordion>

</section>