<section class="titlehead flex items-center justify-between bg-slate-300 text-slate-900 px-3 py-1">
    <h6 class="cursor-pointer" (click)="addForm()"><mat-icon>add_box</mat-icon><strong>Add Form</strong></h6>
    <div>
        <input type="text"
            class="mx-4 border border-slate-600 text-sm text-slate-900 px-3 py-1 rounded-md bg-transparent placeholder:text-slate-500"
            placeholder="Search Items">
        <button mat-icon-button class="mx-3"><mat-icon>downloading</mat-icon></button>
    </div>
</section>

@if (allForms.length > 0) {
<section>
    <div class="tableview">
        <table class="w-full">
            <thead>
                <tr class="border text-slate-200 bg-slate-800 px-2 sticky top-0">
                    <th class="px-2 w-14"><small>Action</small></th>
                    <th class="px-2 w-28"><small>Form Name</small></th>
                    <th class="px-2 w-28"><small>Form Icon</small></th>
                    <th class="px-2"><small>Form Fields</small></th>
                    <th class="px-2"><small>Popup</small></th>
                    <th class="px-2"><small>Pojo</small></th>
                </tr>
            </thead>
            <tbody>
                @for (formItems of allForms; track formItems; let indx = $index) {
                <tr class="border p-2">
                    <td class="px-2 w-14">
                        <mat-icon [routerLink]="['../update-forms', formItems._id]" class="mx-1 text-base hover:cursor-pointer">edit</mat-icon>
                        <mat-icon (click)="formDelete(formItems)" class="mx-1 text-base hover:cursor-pointer">delete</mat-icon>
                    </td>
    
                    <td class="px-2 w-14"><small>{{formItems.formName}}</small></td>
                    <td class="px-2 w-14"><small>{{formItems.formicon}}</small></td>
                    <td class="px-2 w-14">
                        @for (item of formItems.formControls; track $index) {
                            <small class="mr-2">{{item.name}},</small>
                        }
                    </td>
                    <td class="px-2 w-14"><small>{{formItems.isPopup ? 'Yes': 'No'}}</small></td>
                    <td class="px-2 w-14"><small>{{formItems.pojo}}</small></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
}

