<section class="text-center py-5">
    <h1>Login</h1>
    <p>Aute magna irure deserunt veniam aliqua magna enim voluptate.</p>
    <button class="btn btn-danger"><img class="mx-2" src="assets/img/icon/google-logo.svg" width="20px" height="20px"> Log in with Google</button>

    <form class="mt-5 px-5" [formGroup]="loginForm">
        <div class="">
            <input type="text" class="form-control" placeholder="Email Id" formControlName="email">
            <input type="password" class="form-control my-4" placeholder="Password" formControlName="password">
            <p class="text-end"><a href="javaScript:void(0)">Forgot Password ?</a></p>
            <button class="w-100 btn btn-danger my-2" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
            <p class="my-2">Don't have an account? <a [routerLink]="['../signup']">Sign Up</a></p>
        </div>
    </form>
</section>