<section class="titlehead d-flex align-items-center justify-content-between mb-3">
  <span (click)="back()"><mat-icon>arrow_back</mat-icon><strong>Back {{formData?.formName}}</strong></span>
</section>


<section class="formGroup" cdkDropListGroup>
  @if(components && formData?.isFormCreations) {
    <div cdkDropList [cdkDropListData]="components" class="formWedgit mb-2">
      @for (item of components; track item) {
        <button mat-stroked-button cdkDrag class="m-1"><mat-icon>{{item?.fieldIcons}}</mat-icon> <small>{{item?.type}}</small> </button>
      }
    </div>
  }

  <div class="" cdkDropList [cdkDropListData]="formData?.formControls" cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)" style="min-height:100px;">

      @if(formData?.isFormCreations) {
        <div class="p-2 mb-2 formhead">
          <div class="formitem" style="max-width:250px;">
              <input type="text" placeholder="Form Name" [(ngModel)]="formData.formName" disabled>
              @if(formData?.isFormCreations) {
                <div class="formoptions" style="top:4px;right:5px;display:block;">
                  <mat-icon (click)="filedsSettings(formData, 0)">settings</mat-icon>
                </div>
                }
          </div>
        </div>
      }
    

    <form [formGroup]="dynamicForm" class="row mx-0">
      @for (control of formData?.formControls; track control; let indx = $index) {
      @if(['text', 'number', 'email', 'password', 'date'].includes(control?.type)){
      <div class="formitem pb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag [cdkDragDisabled]="!formData?.isFormCreations">
        <label>{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        <input [type]="control?.type" [placeholder]="control?.placeholder" [formControlName]="control?.name" (input)="showIfFields(formData, dynamicForm.get([control?.name])?.value)">
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        @if(control.isMandatory && dynamicForm.get([control?.name])?.invalid && (dynamicForm.get([control?.name])?.dirty || dynamicForm.get([control?.name])?.touched)){
          <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      @if(['textarea'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem pb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag
        [cdkDragDisabled]="!formData?.isFormCreations">
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        <label>{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        <textarea [formControlName]="control?.name" [disabled]="control?.disabled"></textarea>
        @if(control.isMandatory && dynamicForm.controls[control?.name].invalid &&
        dynamicForm.controls[control?.name].touched){
        <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      @if(['label'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem mb-2" cdkDrag [cdkDragDisabled]="!formData?.isFormCreations">
        @if(formData?.isFormCreations) {
        <div class="formoptions" style="top:3px">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        <label [class]="control?.class ? control?.class : 'col-md-12'">{{control.label}}</label>
      </div>
      }

      @if(['button'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem mb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag
        [cdkDragDisabled]="!formData?.isFormCreations">
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        <label
          class="block text-sm font-medium text-gray-900">{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        @for (valueList of control?.values; track $index) {
        <button [type]="control?.type" [class]="control?.btnclass">{{valueList?.value}}</button>
        }
        @if(control.isMandatory && dynamicForm.controls[control?.name].invalid &&
        dynamicForm.controls[control?.name].touched){
        <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      @if(['file'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem mb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag
        [cdkDragDisabled]="!formData?.isFormCreations">
        <label >{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        <input [type]="control?.type" [disabled]="control?.disabled" [formControlName]="control?.name"/>
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        @if(control.isMandatory && dynamicForm.controls[control?.name].invalid &&
        dynamicForm.controls[control?.name].touched){
        <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      @if(['checkbox'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem mb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag
        [cdkDragDisabled]="!formData?.isFormCreations">
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        <label>{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        @for (valueList of control?.values; track $index) {
        <label class="mx-2 d-inline-block">
          <input style="width:auto;" type="checkbox" (change)="isChangeVal($event, valueList, control.type)" [formControlName]="control.name">
          <small class="mx-1">{{valueList?.value}}</small>
        </label>
        }
        @if(control.isMandatory && dynamicForm.controls[control?.name].invalid &&
        dynamicForm.controls[control?.name].touched){
        <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      @if(['radio'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem mb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag
        [cdkDragDisabled]="!formData?.isFormCreations">
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        <label>{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        @for (valueList of control.values; track $index) {
        <label class="mx-2 d-inline-block">
          <input style="width:auto;" [attr.name]="control.name" type="radio" [value]="valueList?.value" (change)="isChangeVal($event, valueList, control.type)" [formControlName]="control.name">
          <small class="mx-1">{{valueList?.value}}</small>
        </label>
        }
        @if(control.isMandatory && dynamicForm.controls[control?.name].invalid &&
        dynamicForm.controls[control?.name].touched){
        <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      @if(['dropdown'].includes(control?.type) && !control?.hideFieldOnConditions){
      <div class="formitem mb-3" [class]="control?.class ? control?.class : 'col-md-3'" cdkDrag
        [cdkDragDisabled]="!formData?.isFormCreations">
        @if(formData?.isFormCreations) {
        <div class="formoptions">
          <mat-icon (click)="filedsSettings(control, indx)">settings</mat-icon>
          <mat-icon (click)="removeFields(indx)">cancel</mat-icon>
        </div>
        }
        <label>{{control.label}}@if(control.isMandatory){<sup>*</sup>}</label>
        <select (change)="isChangeVal($event,control,control.type)" [formControlName]="control?.name">
          <option value="" selected>--Select Value--</option>
          @for (valueList of control?.values; track $index) {
          <option [value]="valueList?.value">{{valueList?.value}}</option>
          }
        </select>
        @if(control.isMandatory && dynamicForm.controls[control?.name].invalid &&
        dynamicForm.controls[control?.name].touched){
        <small class="errmsg text-danger d-block">{{ getErrorMessage(control) }}</small>
        }
      </div>
      }

      }
    </form>
  </div>


</section>

<mat-dialog-actions align="end" [ngClass]="addbuttonClass">
  @if(formData?.isFormCreations){
  <div class="flex justify-end m-3">
    <button mat-flat-button (click)="updateForm()"><mat-icon>save</mat-icon>Form Update</button>
  </div>
  }

@else {
  @if(formData?.formsButtons){
  <div class="flex justify-end my-3">
    @if(formData?.isPopup){ <button mat-button mat-dialog-close class="mx-2">Cancel</button>}
    @else { <button mat-button class="mx-2" (click)="back()">Cancel</button>}
    @for (btnlist of formData?.formsButtons; track $index) {
    <button class="formbtn mx-1" (click)="actionBtn(btnlist)"  mat-flat-button [ngClass]="btnlist.useto">
      <mat-icon>{{btnlist?.btnicon}}</mat-icon> {{btnlist?.btnname}}
    </button>
    }
  </div>
  }
}
</mat-dialog-actions>