<section class="grid">
<table class="table">
  <thead>
    <tr>
      <th style="width:80px;"><small>Sr No</small></th>
      @for (thead of gridFields; track thead){
          <th><small>{{thead['label']}}</small></th>
      }
       <th><small>Action</small></th>
    </tr>
  </thead>
  <tbody>
        @for (gridValue of gridData; track gridValue; let indx = $index) {
          <tr>
            <td>{{indx + 1}}</td>
            @for (gridclmn of gridFields; track gridclmn;) {
              <td class="border"><small>{{gridValue[gridclmn['name']]}}</small></td>
            }
           <td>
            @for (btnlist of formData['gridButtons']; track $index) {
              <button mat-icon-button (click)="actionBtn(gridValue,btnlist.btnname)"><mat-icon>{{btnlist?.btnicon}}</mat-icon></button>
            }
           </td>
          </tr>
        }
  </tbody>
</table>
</section>
