.caption-top {
    .captionOption {position:relative;margin-top:-60px;z-index:9;
        .filebtn {position:relative;padding-right:45px;
            .mat-icon {position:absolute !important;right:10px;}
        }
    }
}

.tableview {width:100%;overflow-x:scroll;
    small {text-wrap:nowrap;}
    .actionbtn {white-space:nowrap;
        mat-icon{width:auto;height:auto;line-height:24px;}
    }
    
}