<section class="sidenav h-100">
  <ul class="text-center">
    <li><button mat-icon-button [matTooltip]="'Dashboard'" matTooltipPosition="after" [routerLink]="['dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <mat-icon>dashboard</mat-icon>
    </button></li>

    @for (item of moduleLIst; track item; let index = $index) {
    @if(item.menulist && item.menulist.length > 0){
    <li>
    <button mat-icon-button [matTooltip]="item.moduleName" matTooltipPosition="above">
      <mat-icon>{{item.moduleIcon ? item.moduleIcon : 'window'}}</mat-icon>
    </button>
    <div class="megamenu">
      <ul class="p-0">
        @for (menuitem of item.menulist; track menuitem;) {
        <li [routerLink]="[menuitem.menuName, menuitem.menuFormName]" routerLinkActive="menuactive" [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>{{menuitem.menuIcon}}</mat-icon> {{menuitem.menuName | titlecase}}
        </li>
        }
      </ul>
    </div>
  </li>
    }@else {
      <li><button mat-icon-button [matTooltip]="item.moduleName" matTooltipPosition="after"
        [routerLink]="[item.moduleName,item.moduleForm]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>{{item.moduleIcon ? item.moduleIcon : 'window'}}</mat-icon>
      </button></li>
    }
    }
  </ul>
</section>