<section class="d-flex justify-content-between align-items-center">
    <a class="text-white" routerLink="dashboard">My App</a>
    <div class="d-flex">
        <button mat-icon-button [routerLink]="['create']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"><mat-icon class="text-white">dashboard</mat-icon></button>
        <button mat-icon-button class="mx-2" [matMenuTriggerFor]="notification"><mat-icon class="text-white">circle_notifications</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="profilemenu"><mat-icon class="text-white">manage_accounts</mat-icon></button>
    </div>
</section>

<mat-menu #profilemenu="matMenu" class="headerdropdown" xPosition="before"><app-theme-setting></app-theme-setting></mat-menu>
<mat-menu #notification="matMenu" class="headerdropdown" xPosition="before"><app-notification></app-notification></mat-menu>