
.searchbox {border-radius:25px;background:transparent;border:1px solid #ccc;padding:1px 10px;font-size:15px;color:#fff;}
input::placeholder{color:#fff;}
button.active {background:rgb(10 10 10 / 50%);}