.settingMenu {
    .colorbox {width:15px;height:15px;border-radius:100%;vertical-align:middle;display:inline-block;}
    .mat-divider {border-top-color:#d9d9d9;}
    .mat-mdc-button:not(:disabled) {color:#000000;}
}