<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a routerLink="home" routerLinkActive="" class="-m-1.5 p-1.5">
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-6">
      <a routerLink="home" routerLinkActive="active" class="px-3 py-2 rounded-full text-sm font-semibold text-gray-900">Home</a>
      <a routerLink="about-us" routerLinkActive="active" class="px-3 py-2 rounded-full text-sm font-semibold text-gray-900">Aboutus</a>
      <a routerLink="services" routerLinkActive="active" class="px-3 py-2 rounded-full text-sm font-semibold text-gray-900">Services</a>
      <a routerLink="contact-us" routerLinkActive="active" class="px-3 py-2 rounded-full text-sm font-semibold text-gray-900">Contact us</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a routerLink="auth" class="px-3 py-2 rounded-full text-sm font-semibold bg-slate-900 text-white">Log in <span>&rarr;</span></a>
    </div>
  </nav>
</header>

