<section class="titlehead flex items-center justify-between bg-slate-300 text-slate-900 px-3 py-1">
    <h6 class="cursor-pointer" [routerLink]="['addNew']"><mat-icon>add_box</mat-icon><strong>{{urlInfo?.formName}}</strong></h6>
    <div>
        <input type="text" class="mx-4 border border-slate-600 text-sm text-slate-900 px-3 py-1 rounded-md bg-transparent placeholder:text-slate-500" placeholder="Search Items">
        <button mat-icon-button class="mx-3"><mat-icon>downloading</mat-icon></button>
    </div>
</section>



