input, textarea, select {border-radius:8px;border:1px solid #ccc;padding:5px 10px;font-size:14px;margin:5px;}
label {font-size:12px;}
.titlelabel {background:#212529;color:#fff;border-radius:5px;font-size:13px;
    mat-icon {font-size:20px;width:auto;height:auto;vertical-align:middle;}
}