<section class="text-center py-5">
  <h1>Registation</h1>
  <p  class="text-muted my-4">Aute magna irure deserunt veniam aliqua magna enim voluptate.</p>

  <form class="px-5 text-start" [formGroup]="registationForm">
    <button class="btn btn-dark rounded-pill w-100"><img class="mx-2" src="assets/img/icon/google-logo.svg" width="20px" height="20px"> Log in with Google</button>
    <div class="row">
      <div class="col-md-12 my-3">
        <input type="text" class="form-control rounded-pill px-4 py-2" placeholder="FullName" formControlName="fullName">
        @if(registationForm.get('fullName')?.errors && registationForm.get('fullName')?.touched){
          <small class="text-danger px-3"><small>Name is required</small></small>
        }
      </div>

      <div class="col-md-6 my-3">
        <input type="email" class="form-control rounded-pill px-4 py-2" placeholder="Email Id" formControlName="email">
        @if(registationForm.get('email')?.errors && registationForm.get('email')?.touched){
          <small class="text-danger px-3"><small>Email is required.</small></small>
        }
      </div>

      <div class="col-md-6 my-3">
        <input type="tel" class="form-control rounded-pill px-4 py-2" placeholder="Mobile Number" formControlName="mobile">
        @if(registationForm.get('mobile')?.errors && registationForm.get('mobile')?.touched){
          <small class="text-danger px-3"><small>Mobile is required.</small></small>
        }
      </div>

      <div class="col-md-12 my-3">
        <input type="password" class="form-control rounded-pill px-4 py-2" placeholder="Password" formControlName="password">
        @if(registationForm.get('password')?.errors && registationForm.get('password')?.touched){
          <small class="text-danger px-3"><small>Password is required</small></small>
        }
      </div>
    </div>
    <button class="w-100 btn btn-danger my-2 rounded-pill" (click)="onSubmit()" [disabled]="registationForm.invalid">Registation</button>
  </form>
  <p class="my-2">Already have an account? <a [routerLink]="['../signin']">Login</a></p>
</section>