<section class="sidenav h-100">
  <div class="border-b border-slate-600 text-white py-2 h-11 text-center">Logo</div>

  <ul class="p-0">
    <small class="block text-slate-600 text-xs m-2">Form Navigations</small>
    <li [routerLink]="['dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon><small>Dashboard</small></li>
    <li [routerLink]="['create-module']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>add_circle</mat-icon><small>Add Models</small></li>
    <li [routerLink]="['forms']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>add_circle</mat-icon><small>Add Forms</small></li>

    <small class="block text-slate-600 text-xs m-2">Modules Navigations</small>
    @for (item of moduleLIst; track item; let index = $index) {
    @if(item.menulist && item.menulist.length > 0){
    <mat-icon>{{item.moduleIcon}}</mat-icon><small>{{item.moduleName}}</small>
    <div class="megamenu">
      <ul class="w-full text-sm font-medium text-gray-900 p-0">
        @for (menuitem of item.menulist; track menuitem;) {
        <li
          class="flex items-center w-full px-4 py-2 cursor-pointer border-b border-gray-200 hover:bg-slate-900 hover:text-white"
          [routerLink]="[item.moduleName, menuitem.menuName, menuitem.menuFormName]"
          routerLinkActive="bg-slate-900 text-white">
          <mat-icon class="text-base">{{menuitem.menuIcon}}</mat-icon>
          {{menuitem.menuName | titlecase}}
        </li>
        }
      </ul>
    </div>
    }@else {
    <li [routerLink]="[item.moduleName,item.moduleForm]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>{{item.moduleIcon ? item.moduleIcon : 'window'}}</mat-icon> <small>{{item.moduleName}}</small>
    </li>
    }
    }
  </ul>
</section>