<div class="flex justify-between px-4 mt-3">
  <h4 class="m-0 font-bold">{{pagetitle}}</h4>
  <mat-icon (click)="closeModel()" class="text-slate-900 hover:cursor-pointer">cancel</mat-icon>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
  @for (items of data; track items; let i = $index) {

    @if(items && !items?.gridButtons){
  <mat-tab>
    <ng-template mat-tab-label>Display Fields</ng-template>
    <mat-dialog-content class="mat-typography">
      <div class="grid grid-cols-4 gap-3">
        <input type="text" class="border border-slate-950 p-2 rounded-md" placeholder="Add Fieldname" [(ngModel)]="items.name">
        <input type="text" class="border border-slate-950 p-2 rounded-md" placeholder="Add label" [(ngModel)]="items.label">
        <input type="text" class="border border-slate-950 p-2 rounded-md" placeholder="Add placeholder" [(ngModel)]="items.placeholder">
        <input type="text" class="border border-slate-950 p-2 rounded-md" placeholder="Add Class" [(ngModel)]="items.class">
        <label><input type="checkbox" class="mt-2" [(ngModel)]="items.isMandatory" [checked]="items.isMandatory"> is Mandatory ?</label>
        <label><input type="checkbox" class="mt-2" [(ngModel)]="items.disabled" [checked]="items.disabled"> is Disabled fields ?</label>
        <label><input type="checkbox" class="mt-2" [(ngModel)]="items.hideFieldOnConditions" [checked]="items.hideFieldOnConditions"> Default Hide ?</label>
        @if(['text', 'number', 'email', 'password', 'date', 'textarea'].includes(items.type)){
          <input [type]="items.type" class="border border-slate-950 p-2 rounded-md" placeholder="Add Default Value" [(ngModel)]="items.value">
        }
      </div>
      @if(['checkbox', 'radio', 'dropdown'].includes(items.type)){
      <h3 class="bg-slate-600 text-sm text-white p-1 my-2 rounded-md">
        <mat-icon class="mx-1" style="vertical-align:middle;" (click)="addvalue(items.values)">add_circle</mat-icon> Add {{items.type}} List
      </h3>
      @for (valueList of items.values; track $index) {
        <input type="text" class="bg-transparent border border-slate-400 w-44	p-1 m-1 rounded-md" placeholder="Add value" [(ngModel)]="valueList.value">
      }
      }

      @if(['button'].includes(items.type)){
      <input type="text" class="bg-transparent border border-slate-400 w-44	p-1 rounded-md" placeholder="Add Class" [(ngModel)]="items.btnclass">
      <h3 class="bg-slate-600 text-sm text-white p-1 my-2 rounded-md">
        <mat-icon class="mx-1" style="vertical-align:middle;" (click)="addvalue(items.values)">add_circle</mat-icon> Add {{items.type}} List
      </h3>
      }



      <h3 class="bg-slate-600 text-sm text-white p-1 my-2 rounded-md">
        <label><input type="checkbox" class="mt-1 mx-2" [(ngModel)]="items.isShowIf" [checked]="items.isShowIf"> Show If ?</label>
      </h3>
      
      @if(items.isShowIf){
        <div class="grid grid-cols-4 gap-3">
          <div class="grid grid-cols-subgrid col-span-12">
            <input type="text" class="border border-slate-950 p-2 rounded-md" placeholder="Conditional Fieldname" [(ngModel)]="items.showField">
            <input type="text" class="border border-slate-950 p-2 rounded-md" placeholder="Hide/show Fieldname" [(ngModel)]="items.showFieldItems">
          </div>
        </div>
      }
    
    </mat-dialog-content>
  </mat-tab>
  }


  @if(items?.gridButtons) {
  <mat-tab>
    <ng-template mat-tab-label>Form Settings</ng-template>
    <mat-dialog-content class="mat-typography">
      <input type="text" class="bg-transparent border border-slate-400 w-44	p-1 rounded-md" placeholder="Add formName" [(ngModel)]="items.formName">
      <input type="text" class="bg-transparent border border-slate-400 w-44 p-1 rounded-md mx-4" placeholder="app_pojoname" [(ngModel)]="items.pojo">
      <label class="m-2"><input type="checkbox" [(ngModel)]="items.isPopup" [checked]="items?.isPopup"> Is popup form?</label>
      <label class="m-2"><input type="checkbox" [(ngModel)]="items.isImport" [checked]="items?.isImport"> Is Import File?</label>
      <label class="m-2"><input type="checkbox" [(ngModel)]="items.isPDFDownload" [checked]="items?.isPDFDownload"> Is Download PDF?</label>
      <h3 class="bg-slate-600 text-sm text-white p-1 my-2 rounded-md">
        <mat-icon class="mx-1" style="vertical-align:middle;" (click)="createActionBtn(items.gridButtons)">add_circle</mat-icon> Create Grid Buttons
      </h3>
      @if (items.gridButtons && items.gridButtons.length > 0) {
      <div class="bg-slate-600 text-white border-0 rounded-md w-full">
        <table class="w-full">
          <thead>
            <tr class="bg-slate-800">
              <td class="border border-slate-500 px-2"><small>Grid Button Name</small></td>
              <td class="border border-slate-500 px-2"><small>Grid Button Icons</small></td>
              <td class="border border-slate-500 px-2"><small>Disabled</small></td>
              <td class="border border-slate-500 px-2"><small>Actions</small></td>
            </tr>
          </thead>
          <tbody>
            @for (item of items.gridButtons; track item; let indx = $index) {
            <tr>
              <td class="border border-slate-500 px-2 py-1">
                <input type="text" class="bg-transparent border border-slate-400 w-36 p-1 rounded-md"
                  placeholder="Button Name" [(ngModel)]="items.gridButtons[indx].btnname">
              </td>
              <td class="border border-slate-500 px-2 py-1">
                <input type="text" class="bg-transparent border border-slate-400 w-32 p-1 rounded-md"
                  placeholder="Button Icon" [(ngModel)]="items.gridButtons[indx].btnicon">
                <mat-icon class="mx-1 text-base">{{items.gridButtons[indx].btnicon}}</mat-icon>
              </td>
              <td class="border border-slate-500 px-2 py-1">
                <label>
                  <input type="checkbox" [(ngModel)]="items.gridButtons[indx].isdisabled">
                  {{items.gridButtons[indx].isdisabled ? 'Yes': 'No'}}
                </label>
              </td>
              <td class="border border-slate-500 px-2 py-1"><mat-icon style="font-size:20px;">delete</mat-icon></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }




      <h3 class="bg-slate-600 text-sm text-white p-1 my-2 rounded-md">
        <mat-icon class="mx-1" style="vertical-align:middle;"
          (click)="createActionBtn(items.formsButtons)">add_circle</mat-icon> Create Forms Buttons
      </h3>
      @if (items.formsButtons && items.formsButtons.length > 0) {
      <div class="bg-slate-600 text-white border-0 rounded-md w-full">
        <table class="w-full">
          <thead>
            <tr class="bg-slate-800">
              <td class="border border-slate-500 px-2"><small>Form Button Name</small></td>
              <td class="border border-slate-500 px-2"><small>Form Button Icons</small></td>
              <td class="border border-slate-500 px-2"><small>Use To</small></td>
              <td class="border border-slate-500 px-2"><small>Actions</small></td>
            </tr>
          </thead>
          <tbody>
            @for (item of items.formsButtons; track item; let indx = $index) {
            <tr>
              <td class="border border-slate-500 px-2 py-1">
                <input type="text" class="bg-transparent border border-slate-400 w-24 p-1 rounded-md"
                  placeholder="Button Name" [(ngModel)]="items.formsButtons[indx].btnname">
              </td>
              <td class="border border-slate-500 px-2 py-1">
                <input type="text" class="bg-transparent border border-slate-400 w-20 p-1 rounded-md"
                  placeholder="Button Icon" [(ngModel)]="items.formsButtons[indx].btnicon">
                <mat-icon class="mx-1 text-base">{{items.formsButtons[indx].btnicon}}</mat-icon>
              </td>
              <td class="border border-slate-500 px-2 py-1">
                <input type="text" class="bg-transparent border border-slate-400 w-36 p-1 rounded-md"
                  placeholder="Button Name" [(ngModel)]="items.formsButtons[indx].useto">
              </td>
              <td class="border border-slate-500 px-2 py-1"><mat-icon style="font-size:20px;">delete</mat-icon></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }



    </mat-dialog-content>
  </mat-tab>
  }


  @if(items.isMandatory && items.validators && items.validators.length > 0){
  <mat-tab>
    <ng-template mat-tab-label>Validations</ng-template>
    <mat-dialog-content class="mat-typography">
      <div class="grid grid-cols-4 gap-2">
        @for(validatorlist of items.validators; track $index) {
          <h3 class="bg-slate-600 text-sm text-white p-1 grid grid-cols-subgrid col-span-12 rounded-md">
            <span><mat-icon class="mx-1" style="vertical-align:middle;">add_circle</mat-icon> {{validatorlist.validatorName}}</span>
          </h3>
          @if(validatorlist.validatorName == 'required') {
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Add Validation Message" [(ngModel)]="validatorlist.message">
          }
          @if(validatorlist.validatorName == 'email') {
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Add Validation Message" [(ngModel)]="validatorlist.message">
          }
          @if(validatorlist.validatorName == 'minlength') {
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Add Validation Message" [(ngModel)]="validatorlist.message">
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Set minlength" [(ngModel)]="validatorlist.minLength">
          }
          @if(validatorlist.validatorName == 'maxlength') {
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Add Validation Message" [(ngModel)]="validatorlist.message">
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Set maxlenght" [(ngModel)]="validatorlist.maxLength">
          }
          @if(validatorlist.validatorName == 'pattern') {
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Add Validation Message" [(ngModel)]="validatorlist.message">
            <input type="text" class="border border-slate-400 p-2 rounded-md" placeholder="Add Validation Pattern" [(ngModel)]="validatorlist.pattern">
          }
        }
      </div>
    </mat-dialog-content>
  </mat-tab>
  }

  }
</mat-tab-group>



<mat-dialog-actions align="end">
  <button mat-button (click)="closeModel()">Resets</button>
  @for (items of data; track items; let i = $index) {
    @if(items && !items?.gridButtons){
      <button mat-flat-button color="primary" cdkFocusInitial (click)="saveForm()">Save</button>
    }@else {
      <button mat-flat-button color="primary" cdkFocusInitial (click)="updateFormlist()">Update Form</button>
    }
  }
</mat-dialog-actions>