.notificationlist {min-height:410px;
    .mat-mdc-card-avatar {overflow:hidden;}
    .mat-mdc-card-title {font-size:14px !important;}
    small {font-weight:normal;font-size:10px;}
    .mat-divider {border-top-color:#d9d9d9;}
}